.cardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin: auto;
    background-color: #4ef037;
    padding: 1em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}